// All Pages
body.learnpress {
  .top-bar {
    display: none !important;
  }

  .main-navigation {
    + .menu-element {
      // display: none !important;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

// Pages
@import "pages/index";

// Cursos
@import "cursos/index";