body.single-lp_course {
  .course-tab-panels {
    ul {
      margin-left: 0;
    }
  }

  .comment-form {
    [type="submit"] {
      margin-top: 15px;
      background-color: #2282c7;
      border: none;
      border-radius: 10px;
      padding: 12px 24px;
      color: white;
      transition: all 0.25s;
      &:hover {
        background-color: rgba(34, 130, 199, 0.85);
      }
    }
  }

  button.lp-button.button-complete-lesson {
    background-color: #2282c7;
    color: #fff;
    &:hover {
      background-color: darken(#2282c7, 10%);
    }
  }

  //
  .course-item {
    &.status-completed {
      color: #155724;
      background-color: #d4edda !important;
      border-color: #c3e6cb;

      .section-item-link {
        &::before {
          color: #155724;
        }
        &:hover {
          .item-name {
            color: #155724;
          }
        }
      }
    }
  }

  #content-item-quiz {
    ol {
      margin-bottom: 0;
    }
  }
}
